html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

/* ovo je za providni background  */
.tm-bg-black-transparent {
  background-color: rgba(244, 206, 158, 0.5);
} 

.tm-bg-white-transparent {
  background-color: rgba(252, 214, 170, 0.8);
} 


/*
  Welcome section-prvi dio stranice
*/
#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
  color: #172a38;
}

.tm-brand-container-outer {
  margin-top: -400px;
} 

.tm-brand-container {
  padding: 35px 110px;
}

.tm-brand-name {
  font-size: 3.8rem;
  color: #172a38
}

.tm-brand-description {
  font-size: 1.4rem;
  color: #172a38
}

.viewport-match{
  min-height: 100vh;
}

.head-container{
  background-color: rgba(244, 206, 158, 0.6);
  padding-bottom: 32px;
  padding-top: 32px;
  margin-top: 30vh;
}

#tmContact {
  min-height: 1197px;
}

.tm-welcome-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 50px;
}

.tm-welcome-left {
  color:#172a38;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: bold;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
}

.tm-welcome-right {
  color:#172a38;
  font-weight: bold;
  padding-right: 10px;
}

.tm-welcome-right-col {
  display: flex;
  align-items: center;
  text-align: center;
}

.tm-welcome-icon {
  display: block;
  text-align: center;
  display: flex;
  align-items: center;
  color: #172a38;
}


/*
  Contact section
*/

#tmContact {
  padding-top: 95px;
}

.tm-contact-item {
  background-color: #f4ce9e;
  color: #172a38;
  margin: 12px;
  padding: 24px;
}

.tm-contact-item:last-child {
  margin-right: 0;
}


.tm-contact-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.tm-contact-item-icon {
  margin-bottom: 10px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #172a38;
}


@media (max-width: 1054px) {
  .tm-contact-item-icon {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .tm-contact-items-container {
    flex-direction: column;
  }

  .tm-contact-item {
    width: auto;
    max-width: 680px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .tm-contact-item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

}