body {
    background-color: #f4ce9e;
    color: #cfd3d6;
}
.card {
    background-color: #172a38;
    color: #f4ce9e;
}

.btn {
    background-color:#f4ce9e;
    color: #172a38;
    text-align: center;
    display: flex;
}