.historijski-razvoj {
    text-align: center;
}

.Trolejbuskelinije {
    align-items: center;
    text-align: center;
}

.card {
    background-color:#f4ce9e;
    align-items: center;

    
}

.card-text {
    color:#f4ce9e;
    text-align: center;
    font-weight: bold;
}

.btn {
    background-color: #172a38;
}
 